
$red: #D11250
$orange: #DB5800
$blue: #006899
$green: #008F68


body
	margin: 0
	padding: 0
	font-size: 14px
	overflow-y: scroll
	min-width: 320px
	position: relative
	z-index: 100

#scene
	overflow: hidden
	width: 100%
	img
		position: relative
		left: -10%
		background-size: cover

.title
	text-align: center
	h2, h6
		text-transform: uppercase
	

