@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
  font-weight: bold; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  min-width: 320px;
  position: relative;
  z-index: 100;
  background-color: #FFF; }

section {
  position: relative;
  overflow: hidden; }

#scene {
  overflow: hidden;
  width: 100%; }
  #scene img {
    position: relative;
    left: -10%;
    width: 120%;
    -webkit-background-size: cover;
            background-size: cover; }

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .title h2, .title h6 {
    text-transform: uppercase; }

#about .bio,
#about .title {
  position: relative;
  z-index: 150;
  color: #fff; }

#about .bio {
  font-size: 25px;
  text-shadow: 1px 1px red;
  color: #fff;
  margin-bottom: 50px; }

.wrapp-bio {
  position: absolute;
  background-color: black;
  top: -100%;
  left: -20%;
  opacity: 0.6;
  width: 100%;
  height: 250%;
  z-index: 130; }
  .wrapp-bio::before {
    position: absolute;
    content: ' ';
    display: block;
    height: 250%;
    width: 1%;
    left: 100%;
    top: -50%;
    background-color: #ff5c05;
    z-index: 121;
    -webkit-box-shadow: 0 0 10px 10px black;
            box-shadow: 0 0 10px 10px black; }
  .wrapp-bio::after {
    position: relative;
    content: ' ';
    display: block;
    height: 250%;
    width: 150%;
    left: 101%;
    top: -100%;
    background-color: #8c0404;
    z-index: 120; }

.bio-animate {
  -webkit-animation: move 50s linear infinite alternate;
          animation: move 50s linear infinite alternate; }
  .bio-animate::before {
    -webkit-animation: size 50s infinite alternate;
            animation: size 50s infinite alternate; }

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-1%);
            transform: translate(-1%); }
  10% {
    -webkit-transform: translate(-70%);
            transform: translate(-70%); }
  12% {
    -webkit-transform: translate(-70%) rotate(20deg);
            transform: translate(-70%) rotate(20deg); }
  100% {
    -webkit-transform: translate(-1%) rotate(20deg);
            transform: translate(-1%) rotate(20deg); } }

@keyframes move {
  0% {
    -webkit-transform: translate(-1%);
            transform: translate(-1%); }
  10% {
    -webkit-transform: translate(-70%);
            transform: translate(-70%); }
  12% {
    -webkit-transform: translate(-70%) rotate(20deg);
            transform: translate(-70%) rotate(20deg); }
  100% {
    -webkit-transform: translate(-1%) rotate(20deg);
            transform: translate(-1%) rotate(20deg); } }

@-webkit-keyframes size {
  0% {
    width: 1%; }
  10% {
    width: 1%; }
  12% {
    width: 10%; }
  100% {
    width: 10%; } }

@keyframes size {
  0% {
    width: 1%; }
  10% {
    width: 1%; }
  12% {
    width: 10%; }
  100% {
    width: 10%; } }

#skills {
  border-top: 15px solid #170099;
  border-bottom: 15px solid #170099;
  padding-top: 30px;
  padding-bottom: 30px; }
  #skills::before, #skills::after {
    position: relative;
    content: ' ';
    display: block;
    width: 100%;
    -webkit-box-shadow: 0 0 10px 10px black;
            box-shadow: 0 0 10px 10px black; }
  #skills::before {
    top: -30px; }
  #skills::after {
    bottom: -30px; }
  #skills .item {
    text-align: center; }
    #skills .item img {
      width: auto;
      max-height: 100px; }
