@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: regular;
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "MavenPro";
  font-style: normal;
  font-weight: regular;
  src: url("/fonts/MavenPro/MavenPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "MavenPro";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/MavenPro/MavenPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "MavenPro";
  font-style: normal;
  font-weight: black;
  src: url("/fonts/MavenPro/MavenPro-Black.ttf") format("truetype"); }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  min-width: 320px;
  position: relative;
  z-index: 100;
  background-color: #FFF; }

h1, h2, h3, h4 {
  text-transform: uppercase; }

section {
  position: relative;
  overflow: hidden; }

p {
  margin: 0; }

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%; }
  .wrapper .container,
  .wrapper .row {
    height: 100%; }

#center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  z-index: 200; }
  #center .hello {
    opacity: 0.8;
    background-color: #000000;
    z-index: 250;
    color: #61ff00;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0 20px;
    position: relative;
    bottom: 40px; }
  #center .mn-is {
    position: relative;
    bottom: 70px;
    left: 650px;
    color: #ff5c05;
    font-size: 30px;
    padding: 0 20px;
    border: 2px solid #ff5c05;
    z-index: 250;
    line-height: 1;
    -webkit-box-shadow: 0 0 20px 1px #ff5c05;
            box-shadow: 0 0 20px 1px #ff5c05; }
  #center .name {
    position: relative;
    bottom: 80px;
    font-family: 'MavenPro', sans-serif;
    color: #8c0404;
    font-size: 65px;
    font-weight: 900;
    padding: 0 20px;
    text-transform: uppercase;
    border: 4px solid #fff;
    -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
            transform: skew(-20deg);
    -webkit-box-shadow: 0 0 100px 1px #000000;
            box-shadow: 0 0 100px 1px #000000; }
    #center .name div {
      -webkit-transform: skew(20deg);
          -ms-transform: skew(20deg);
              transform: skew(20deg); }
  #center .center-descr {
    padding: 0 20px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    position: relative;
    bottom: 95px;
    color: #fff;
    font-size: 20px;
    -webkit-box-shadow: 0 0 20px 1px #2600ff;
            box-shadow: 0 0 20px 1px #2600ff;
    background-color: #7d66ff;
    background-image: -webkit-linear-gradient(left, #7d66ff 1%, #2600ff 10%, #2600ff 90%, #7d66ff 100%);
    background-image: -webkit-gradient(linear,left top, right top,color-stop(1%, #7d66ff), color-stop(10%, #2600ff), color-stop(90%, #2600ff), to(#7d66ff));
    background-image: -webkit-linear-gradient(left,#7d66ff 1%, #2600ff 10%, #2600ff 90%, #7d66ff 100%);
    background-image: -o-linear-gradient(left,#7d66ff 1%, #2600ff 10%, #2600ff 90%, #7d66ff 100%);
    background-image: linear-gradient(to right,#7d66ff 1%, #2600ff 10%, #2600ff 90%, #7d66ff 100%); }

#scene {
  overflow: hidden;
  width: 100%; }
  #scene .layer {
    width: 100%; }
    #scene .layer img {
      position: relative;
      left: -10%;
      width: 120%; }
  #scene .move-always {
    -webkit-animation: moving-fog 15s infinite;
            animation: moving-fog 15s infinite; }

@-webkit-keyframes moving-fog {
  0% {
    -webkit-transform: translate(30%);
            transform: translate(30%); }
  100% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); } }

@keyframes moving-fog {
  0% {
    -webkit-transform: translate(30%);
            transform: translate(30%); }
  100% {
    -webkit-transform: translate(-110%);
            transform: translate(-110%); } }

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .title h2, .title h6 {
    text-transform: uppercase; }

#about .bio,
#about .title {
  position: relative;
  z-index: 150;
  color: #fff; }

#about .bio {
  font-size: 25px;
  text-shadow: 1px 1px red;
  color: #fff;
  margin-bottom: 50px;
  font-family: 'MavenPro', sans-serif; }

.wrapp-bio {
  position: absolute;
  background-color: #000000;
  top: -100%;
  left: -20%;
  opacity: 0.6;
  width: 100%;
  height: 250%;
  z-index: 130; }
  .wrapp-bio::before {
    position: absolute;
    content: ' ';
    display: block;
    height: 250%;
    width: 1%;
    left: 100%;
    top: -50%;
    background-color: #ff5c05;
    z-index: 121;
    -webkit-box-shadow: 0 0 10px 10px #000000;
            box-shadow: 0 0 10px 10px #000000; }
  .wrapp-bio::after {
    position: relative;
    content: ' ';
    display: block;
    height: 250%;
    width: 150%;
    left: 101%;
    top: -100%;
    background-color: #8c0404;
    z-index: 120; }

.bio-animate {
  -webkit-animation: move 50s linear infinite alternate;
          animation: move 50s linear infinite alternate; }
  .bio-animate::before {
    -webkit-animation: size 50s infinite alternate;
            animation: size 50s infinite alternate; }

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-1%);
            transform: translate(-1%); }
  10% {
    -webkit-transform: translate(-70%);
            transform: translate(-70%); }
  12% {
    -webkit-transform: translate(-70%) rotate(20deg);
            transform: translate(-70%) rotate(20deg); }
  100% {
    -webkit-transform: translate(-1%) rotate(20deg);
            transform: translate(-1%) rotate(20deg); } }

@keyframes move {
  0% {
    -webkit-transform: translate(-1%);
            transform: translate(-1%); }
  10% {
    -webkit-transform: translate(-70%);
            transform: translate(-70%); }
  12% {
    -webkit-transform: translate(-70%) rotate(20deg);
            transform: translate(-70%) rotate(20deg); }
  100% {
    -webkit-transform: translate(-1%) rotate(20deg);
            transform: translate(-1%) rotate(20deg); } }

@-webkit-keyframes size {
  0% {
    width: 1%; }
  10% {
    width: 1%; }
  12% {
    width: 10%; }
  100% {
    width: 10%; } }

@keyframes size {
  0% {
    width: 1%; }
  10% {
    width: 1%; }
  12% {
    width: 10%; }
  100% {
    width: 10%; } }

#skills {
  border-top: 15px solid #170099;
  border-bottom: 15px solid #170099;
  padding-top: 30px;
  padding-bottom: 30px; }
  #skills::before, #skills::after {
    position: relative;
    content: ' ';
    display: block;
    width: 100%;
    -webkit-box-shadow: 0 0 10px 10px #000000;
            box-shadow: 0 0 10px 10px #000000; }
  #skills::before {
    top: -30px; }
  #skills::after {
    bottom: -30px; }
  #skills .item {
    text-align: center; }
    #skills .item img {
      width: auto;
      max-height: 80px; }

footer {
  background-color: #000000;
  opacity: 0.8;
  border-top: 5px solid #ff5c05;
  -webkit-box-shadow: 0 0 10px 10px #000000;
          box-shadow: 0 0 10px 10px #000000; }
  footer hr {
    border-top: 5px solid #ff5c05;
    margin: 0;
    width: 100%; }
  footer .name h2:first-child {
    font-weight: 200; }
  footer .name h2:last-child {
    font-weight: 600; }
  footer h2 {
    color: #fff;
    float: left;
    margin: 0; }
  footer .soc ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 35px; }
    footer .soc ul li {
      display: inline;
      margin-left: 20px; }
      footer .soc ul li a {
        color: #ff5c05; }
  footer .bottom {
    background-color: #8c0404;
    padding: 15px;
    color: #fff;
    margin-top: 20px; }
    footer .bottom .col {
      text-align: center; }
